body{
    background-color: rgb(252, 252, 252);
}

.container{
    margin-top: 50px;
    border-style: double;    
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    text-align: center;
}

.timer{
    font-size: 30px;
}

.wrapper{
    margin-bottom: 20px;
}


