* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800;900&display=swap');

* {
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    background: #fff5ef;
    min-height: 100vh;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

/* LADO ESQUERDO  */

.left {
    width: 45%;
    background: #fff5ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 10px;
    
}

.icon {
    width: 140px;
    height: 140px;
    background: linear-gradient(135deg, #ff3b30, #ff6a00);
    border-radius: 50%;
    color: white;
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 20px rgba(255, 59, 48, 0.3);
    flex-shrink: 0;
}

.left h1 {
    color: #ff3b30;
    font-size: 60px;
    font-weight: bold;
}

.subtitle {
    margin: 27px 0 40px;
    color: #555;
    font-size: 15px;
    line-height: 1.6;
    max-width: 80%;
}

.stats {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 18px 27px;
    border-radius: 14px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    min-width: 100px;
    text-align: center;
}

.card strong {
    display: block;
    font-size: 32px;
    color: #ff3b30;
    margin-bottom: 6px;
}

.card span {
    font-size: 14px;
    color: #777;
}

/* LADO DIREITO*/

.form-card {
    background: white;
    width: 100%;
    max-width: 600px;
    padding: 48px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
    text-align: left;
}


.right {
    width: 55%;
    background: #fff5ef;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right h2 {
    font-size: 32px;
    margin-bottom: 12px;
    color: #333;
}

.right p {
    color: #666;
    margin-bottom: 30px;
    font-size: 16px;
}

form label {
    display: block;
    margin: 20px 0 8px;
    font-size: 14px;
    color: #444;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    text-align: right;
}

.row a {
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: #ff3b30;
    text-decoration: none;
    font-size: 14px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    font-size: 14px;
    color: #555;
}

.checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #ff3b30;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 15px;
    background: linear-gradient(135deg, #ff3b30, #ff6a00);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 35px;
    transition: opacity 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1.5rem 0;
    color: #777;
    font-size: 0.9rem;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd;
}

.divider span {
    padding: 0 1.2rem;
    white-space: nowrap;
}

.social {
    display: flex;
    gap: 15px;
}

.social button {
    flex: 1;
        padding: 14px 14px 14px 45px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
        font-size: 15px;

        background-repeat: no-repeat;
        background-position: 85px center;
        background-size: 18px 18px;
}

.btn-google {
            background-image: url("Images/google_logo_icon_145227.png");
        }
.btn-github {
            background-image: url("Images/github_icon.png");
        }

.footer {
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
    color: #555;
}

.footer a {
    color: #ff3b30;
    text-decoration: none;
    font-weight: bold;
}

.erro {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    display: block;
}

.input-erro {
    border: 1px solid red;
}


/* PARA QUANDO DIMINUIR A TELA, O LADO ESQUERDO FICAR EM CIMA
E O DIREITO IR PARA BAIXO - RESPONSIVIDADE*/
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
        padding: 40px 20px;
    }

    .left {
        padding-top: 60px;
    }
}